[tool.black]
line-length = 88
target-version = ["py311"]

[tool.ruff]
select = ["E", "F", "I"]
ignore = []
line-length = 88

[tool.mypy]
python_version = "3.11"
strict = true
ignore_missing_imports = true
